/* Style du footer */
footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 1%;
}

/* Style de la partie gauche du footer */
footer .left {
    text-align: left;
}

/* Style de la partie droite du footer */
footer .right {
    text-align: right;
}

/* Style du texte de l'application mobile */
#appli {
    font-size: 1em;
    color: #707070;
    margin: 4% 0 2% 0;
}

/* Style du texte du copyright */
#copyright {
    font-size: 0.8em;
    color: #999;
    margin: 1% 0;
}

/* Media query pour les écrans plus petits */
@media only screen and (max-width: 768px) {
    #appli {
        font-size: 0.8em;
        margin: 2% 0;
    }

    #copyright {
        font-size: 0.7em;
    }

    /* Ajustement du texte à droite pour les écrans plus petits */
    footer .right {
        text-align: left;
        margin-top: 5px;
        /* Ajoutez un espacement en haut pour séparer du texte de gauche */
    }
}