footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 1%;
}

footer .left {
    text-align: left;
}

footer .right {
    text-align: right;
}


#appli {
    font-size: 1em;
    color: #707070;
    margin: 4% 0 2% 0;
    /* Marge supérieure de 20px, marge inférieure de 10px, et aucune marge sur les côtés */
}


#copyright {
    font-size: 0.8em;
    /* Ajustez la taille de la police selon vos préférences */
    color: #999;
    /* Couleur du texte, vous pouvez ajuster selon vos préférences */
    margin: 1% 0;
    /* Ajoute une marge en haut et en bas pour l'espacement */
}