header {
    padding-top: 5vw;
    padding-bottom: 5vw;
    /* Réduire le padding pour un espace plus compact */
    margin: 0 auto;
    max-width: 1200px;
}

/* Style de la liste de navigation */
.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/* Style des éléments de la liste de navigation */
.nav-links li {
    margin-right: 2em;
    /* Espacement entre les éléments */
}

/* Style des liens de navigation */
.nav-links a {
    text-decoration: none;
    color: #333333;
    font-size: 2vw;
}

/* Style des liens de navigation au survol */
.nav-links a:hover {
    color: #4AE188;
}

/* Style de l'image du logo */
nav img {
    width: 5em;
    height: auto;
}

/* Style pour le menu mobile */
.mobile-menu {
    display: none;
}

/* Media query pour les écrans plus petits */
@media only screen and (max-width: 768px) {
    header {
        padding: 1em;
        /* Réduire le padding pour les écrans plus petits */
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin-right: 0;
        /* Supprimer les marges entre les éléments pour les écrans plus petits */
        margin-bottom: 10px;
    }

    .mobile-menu {
        display: block;
    }
}