body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0% 8%;
}


section {
    padding-top: 3%;
    padding-bottom: 3%;
}


#intro {
    flex: 1;
    font-size: 3.8vw;
    max-width: 100%;
    min-width: 40%;
    line-height: 1.5;
}

.intro2 {
    font-size: 1.5vw;
    max-width: 80%;
    padding-top: 3%;
    line-height: 1.5;
}

.intro3 {
    font-size: 1.5vw;
    max-width: 100%;
    padding-top: 3%;
    line-height: 1.5;
}

.intro4 {
    font-size: 1.5vw;
    font-weight: bold;
    max-width: 80%;
    padding-top: 3%;
    line-height: 1.5;
}


.black-text {
    color: black;
    font-weight: bold;
}

.green-text {
    color: #4AE188;
    font-weight: bold;
}


#liste1 {
    font-size: 1.5em;
}

#espacement {
    padding: 2%;
}

.divEnPourcentage {
    padding: 15%;
}


.separator {
    border: 1px solid #eeeeee;
    width: 100%;
    margin: 1% auto;
}



/* Style pour le conteneur principal utilisant Flexbox */
.container2,
.container {
    display: flex;
}

/* Style pour le conteneur de l'image */
.image-container2,
.image-container {
    flex: 3;
}

/* Style pour l'image */
.image2 {
    max-width: 100%;
    height: auto;
}

/* Style pour le conteneur du texte */
.text-container2,
.text-container {
    flex: 7;
    /* 70% de l'espace disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centre le contenu verticalement */
    align-items: center;
    /* Centre le contenu horizontalement */
    text-align: justify;
}

h2 {
    font-size: 2vw;
}

.Creation {
    padding-top: 2%;
    font-size: 1.5vw;
}


@media (max-width: 768px) {
    .container2 {
        flex-direction: column-reverse;
        /* Inverse la direction de la colonne (image au-dessus du texte) */
    }

    .image-container2 {
        flex: 1;
        max-width: 50%;
        align-self: center;

    }

    .text-container2 {
        flex: 1;
        align-self: center;
        padding: 5%;

        /* Utilise 100% de l'espace disponible */
    }

    h2 {
        font-size: 3.8vw;
    }

    .Creation {
        font-size: 2.5vw;
    }

}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        /* Utilise la direction de la colonne normale pour les écrans inférieurs à 768px */
    }

    .image-container {
        flex: 1;
        max-width: 50%;
        align-self: center;

    }

    .text-container {
        flex: 1;
        align-self: center;
        padding: 5%;
        /* Utilise 100% de l'espace disponible */
    }



    .intro2 {
        max-width: 100%;
        font-size: 2.5vw;
    }
}

/* Ajoute d'autres styles au besoin */