body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0% 8%;
}


section {
    padding-top: 3%;
    padding-bottom: 3%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

.image-container {
    flex: 1;
    max-width: 100%;
    /* Ajuste la largeur maximale du conteneur de l'image */
}

img {
    max-width: 100%;
    height: auto;
}

#intro {
    flex: 1;
    font-size: 3.8vw;
    max-width: 100%;
    min-width: 40%;
    line-height: 1.5;
}

.intro2 {
    font-size: 0.35em;
    max-width: 80%;
    padding-top: 3%;
}

.black-text {
    color: black;
    font-weight: bold;
}

.green-text {
    color: #4AE188;
    font-weight: bold;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        /* Inverse la direction de la colonne (image au-dessus du texte) */
    }

    #image-container {
        order: 1;
        max-width: 50%;
        margin: 1% auto;
        display: block;
    }

    #intro {
        order: 2;
        text-align: center;
        padding: 10%;
    }

    .intro2 {
        text-align: left;
        margin: 0;
        max-width: 100%;
    }
}




#liste1 {
    font-size: 1.5em;
}

#espacement {
    padding: 2%;
}

.separator {
    border: 1px solid #eeeeee;
    width: 100%;
    margin: 1% auto;
}



/* Style pour le conteneur principal utilisant Flexbox */
.container2 {
    display: flex;
}

/* Style pour le conteneur de l'image */
.image-container2 {
    flex: 3;
}

/* Style pour l'image */
.image2 {
    max-width: 100%;
    height: auto;

}

/* Style pour le conteneur du texte */
.text-container2 {
    flex: 7;
    /* 70% de l'espace disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centre le contenu verticalement */
    align-items: center;
    /* Centre le contenu horizontalement */
    text-align: justify;
}

h2 {
    font-size: 2vw;
}

.Creation {
    padding-top: 2%;
    font-size: 1.5vw;
}


@media (max-width: 768px) {
    .container2 {
        flex-direction: column-reverse;
        /* Inverse la direction de la colonne (image au-dessus du texte) */
    }

    .image-container2 {
        flex: 1;
        max-width: 50%;
        align-self: center;

    }

    .text-container2 {
        flex: 1;
        align-self: center;
        padding: 10%;
        /* Utilise 100% de l'espace disponible */
    }
}

/* Ajoute d'autres styles au besoin */