body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0% 8%;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

.image-container {
    flex: 1;
    max-width: 100%;
    /* Ajuste la largeur maximale du conteneur de l'image */
}

img {
    max-width: 100%;
    height: auto;
}

#intro {
    flex: 1;
    font-size: 3.8vw;
    max-width: 100%;
    min-width: 40%;
    line-height: 1.5;
}

.intro2 {
    font-size: 0.35em;
    max-width: 80%;
    padding-top: 2%;
}

.black-text {
    color: black;
    font-weight: bold;
}

.green-text {
    color: rgb(0, 175, 0);
    font-weight: bold;
}

@media (max-width: 768px) {
    .image-container {
        order: 2;
        max-width: 100%;
        /* Ajuste la largeur maximale du conteneur de l'image à 100% */
    }

    img {
        max-width: 100%;
        /* Ajuste la largeur maximale de l'image à 100% */
    }

    #intro {
        min-width: 100%;
    }
}

.separator {
    border: 1px solid #eeeeee;
    width: 100%;
    margin: 1% auto;
}